.main-btn {
  width: 14.38rem;
  height: 2.5rem;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 700;
  color: $white;
  background-color: $main-clr;
  border: none;
  cursor: pointer;

  &--contour {
    border: 2px solid $main-clr;
    background-color: transparent;
    color: $main-clr;
  }
}

.input {
  width: 100%;
  height: 3.13rem;
  border-radius: 5px;
  border: 1px solid $dark-grey;
  padding: 0 1.25rem;
  margin-bottom: 1.88rem;

  @media #{$max991} {
    margin-bottom: 1rem;
  }

  &:nth-of-type(2) {
    margin-bottom: 0.94rem;
  }

  ::placeholder {
    font-weight: 300;
    font-size: 0.85rem;
  }
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: $dark-grey;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: all .2s;

  &--active {
    background-color: $main-clr;
  }

  &__dot {
    border-radius: 50%;
    background-color: $white;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: all .2s;

    &--active {
      left: calc(50% + 1px);
      transition: all .2s;
    }
  }
}