* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: $standard-font;
  color: $black;
}

html {
  font-size: 16px;
}

body {
  background-color: $bcg-clr;
  padding: 0 100px;

  @media #{$max575} {
    padding: 0;
  }
}

.wrapper {
  max-width: 1290px;
  min-width: 360px;
  margin: 0 auto;
}

a {
  color: $black;
  text-decoration: none;
}