.nav {
  height: 9.88rem;
  display: flex;
  justify-content: space-between;

  @media #{$max575} {
    height: 50px;
    padding: 0 14px 0 25px;
  }

  .logo {
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
    z-index: 3;

    &__icon {
      @media #{$max575} {
        height: 20px;
      }
    }
    
    &__text {
      padding-left: 0.75rem;
      font-size: 2.25rem;
      font-weight: 700;

      @media #{$max575} {
        display: none;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 44px;

    @media #{$max575} {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      background-color: $white;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: flex-start;
      padding-right: 0;
      padding-top: 25vh;
    }
  }

  &__list-el {
    padding-right: 40px;

    @media #{$max575} {
      padding-right: 0;
      padding-bottom: 40px;
    }

    &:hover {
      .nav__link {
        color: $main-clr;

        &::after {
          width: 47px;
          transition: width .2s;
        }
      }
    }
  }

  &__link {
    font-size: 1rem;
    font-weight: 600;
    position: relative;

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      width: 0px;
      height: 2px;
      background-color: $main-clr;
      left: 50%;
      bottom: -7px;
      transform: translateX(-50%);
      transition: width .2s;
    }
  }

  &__icon {
    position: relative;
    z-index: 3;
    cursor: pointer;

    &--hamburger {
      display: none;
      width: 18px;
  
      @media #{$max575} {
        display: block;
      }
    }
  }

  .none {
    display: none;
  }
}